.footerContainer{
    background-color:  #1A2258;
    color: white;
    padding: 10px;
    margin-top: 50px;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;

}
.social{
    display: flex;
    flex-direction: row;
    gap:45px;
    font-size: 25px;
}
@media  (min-width: 1024px) {

    .footerContainer{
        display: flex;
        flex-direction: row;
        gap: 65px;;
    }
    .termscontainer{
        display: flex;
        flex-direction: row;
        gap:65px;
    }
    .social{
        padding-top: 1%;
    }
    
    }
    
