

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  color: #1A2258;
  border-bottom: 1px solid hsl(0, 0%, 84%);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
  background-color: white;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
