.homeImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.servicesContainer{
    margin-top: 40px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.impact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:#1A2258;

}
.processed{
    text-align: center;
    padding: 5px;
}

