.homeImage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeImage2{
    height:27vh;
    width:93vw;
}
.servicesContainer{
    margin-top: 40px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.impact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:#1A2258;

}
.processed{
    text-align: center;
    padding: 5px;
}
.intro{
    background-color: #1A2258;
    margin-top: -5%;
    height: 100vh;
}

@media  (min-width: 768px) {
    .homeImage2{
        height:63vh;
    }
    .welcome{
        font-size: x-large;
    }
    
}