.gender{
    display:flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 10px;

}
.checkbox{
    display: flex;
    margin-bottom: 30px;
    margin-top: 40px;
    
}
.input{
    width: 93%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.submit{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1A2258;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    font-size: 1rem;
    font-weight: bold;
}
 .submit:hover {
    background-color: #0F1A3C;
    transform: scale(0.97);
    cursor: pointer;
}
.recaptchaWrapper{
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    margin-bottom: 20%;
    font-size: 1.1rem;
    }
.gender2{
    display: flex;
    flex-direction: row;
    margin-right: 4%;
}
.label{
    margin-bottom: -6px;
    position: relative;
    top:15%;
}
    
.label2{
    margin-bottom: -6px;
    padding-top: 2px;
}