html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFF6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-family: 'Courier New', Courier, monospace sans-serif;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F9FAFB;
    padding: 20px;
    width: 85vw;
    height: 95vw;
    border-radius: 4%;
    border: 1px solid hsl(0, 0%, 84%);
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.form-group, .form-group2 {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.form-group2 {
    margin-top: 40px;
    margin-bottom: -0px;
}
.form-group{
    margin-top: 25px;
}


.input {
    width: 87%;
    height: 4vh;
    border-radius: 0.4rem;
    padding-left: 2.5rem;
}

.input-icon {
    position: absolute;
    top: 65%;
    left: 12px;
    transform: translateY(-50%);
    color: #555;
}
.input-icon2 {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #555;
}
.eye-container {
    position: absolute;
    top: 55%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
    
}

.eye {
    height: 32px;
    width: 32px;
}

.submit {
    background-color: #1A2258;
    color: white;
    width: 100%;
    border-radius: 0.5rem;
    height: 5vh;
    font-weight: bold;
    font-size: large;
    margin-top: 15%;
    cursor: pointer;
    
}
 .submit:hover {
    background-color: #0F1A3C;
    transform: scale(0.97);
    cursor: pointer;
}
label {
    margin-bottom: 3px;
    font-size: 0.9rem;
    display: block;
}

.forgot {
    position: relative;
    font-size: 0.8rem;
     left: 70%;
}

.signup {
    font-size: 0.64rem;
    text-align: center;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 35%;
}
.logo {
    height: 50-px;
    width: 50px;
    border: solid 3px #1A2258 ;
    border-radius: 50%;
    padding-top: 0.7%;
    padding-right: 0.5%;
    margin-right: 1%;
}
@media (min-width: 344px) {
    .signin-container {
        width: 80vw;
        height: 100vw;
    }
    .input {
        width: 85%;
        height: 4.2vh;
        border-radius: 0.4rem;
        padding-left: 2.5rem;
    }
    .submit {
        height: 5.5vh;
        width: 100%;
    }
    .form-group, .form-group2 {
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }
    .form-group2 {
        margin-top: 40px;
        margin-bottom: -0px;
    }
    .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 35%;
}
.eye-container {
    right: 4%; 
}
.forgot{
    left: 65%;
}
}
@media(min-width: 708px) {
    .form-group{
        margin-top: -20%;
    }
    .signin-container {
        width: 75vw;
        height: 55vw;
    }
}
@media (min-width: 768px) {
    .signin-container {
        width: 65vw;
        height: 60vw;
    }
    .input {
    width: 100%;
    height: 3.5vh;
    border-radius: 0.4rem;
    padding-left: 2.5rem;
}
.submit {
    height: 4vh;
    width: 115%;
    margin-left: -8%;
}
.form-group, .form-group2 {
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    margin-left: -8%;
}
.form-group2 {
    margin-top: 40px;
    margin-bottom: -0px;
}
.eye-container {
    position: absolute;
    top: 50%;
    right: -9%;
    transform: translateY(-50%);
    cursor: pointer;
    
}

    .input-icon {
        top: 60%;
        left: 12px;
        transform: translateY(-50%);
        color: #555;
    }
    .input-icon2 {
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: #555;
    }

}


@media (min-width: 1024px) {
    .signin-container {
        width: 65vw;
        height: 55vw;
    }

    .input {
        width: 100%;
        height: 4vh;
        padding-left: 2.5rem;
    }

    .submit {
        height: 4vh;
        margin-top: 10%;
    }

    
    .eye-container {
    position: absolute;
    top: 50%;
    right: -11%;
    transform: translateY(-50%);
    cursor: pointer;
    
}
}
@media (min-width: 1084px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .signin-container {
        width: 55vw;
        height: 30vw;
        align-self: center;
    
    }

    .input {
        width: 100%;
        height: 6vh;
        padding-left: 2.5rem;
    }

    .submit {
        height: 7vh;
        margin-top: 10%;
    }

    .eye-container {
    position: absolute;
    top: 50%;
    right: -11%;
    transform: translateY(-50%);
    cursor: pointer;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 5%;
}
.input-icon{
    top: 65%;
    left: 12px;
    transform: translateY(-50%);
}.forgot{
    left: 85%;
}
}
