html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFF6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-family: 'Courier New', Courier, monospace sans-serif;
}
.signin-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    background-color: #F9FAFB;
    padding: 20px;
    width: 85vw;
    height: 95vw;
    border-radius: 2%;
    border:1px solid hsl(0, 0%, 84%);
    box-shadow: 5PX 5px 5px hsla(0, 0%, 0%, 0.1);
}
.submit{
    background-color: #1A2258;
    color: white;
    width: 100%;
    border-radius: 0.5rem;
    height: 5vh;
    font-weight: bold;
    font-size: large;
    margin-top: 20%;
    
}
.input{
    width: 75vw;
    height: 4vh;
    border-radius:0.4rem; 
    padding-left: 3%;
}
.form-group{
   margin-bottom: 20px;
   display: flex;
    flex-direction: column;
    
}
.form-group2{
    display: flex;
    flex-direction: column;
     margin-top: 10%;
}
.forgot{
    align-self: flex-end;
    font-size: 0.8rem;
    margin-top: 2%;
}
label{
    margin-bottom: 3px;
    font-size: 0.9rem;
}
.logo{
    margin-bottom: 20%;
    margin-left: 43%;
    height: 70px;
}
.unifund{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: -15%;
    margin-top: 10%;
}
.signup{
    font-size: 0.64rem;
    text-align: center;
    
}
.eye-container {
    align-self: flex-end;
    margin-top: -11.5%;
}
.eye{
    height: 35px;
}